@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// Se actualizan las variables globales de bulma
$family-sans-serif: 'Poppins', sans-serif;
$grey-dark: #4592af;
$grey-light: #9da9ad;
$primary: #10316b;
$info: #0b8457;
$success: #eac100;
$warning:#dee1ec;
