.svg-background {
    background: url("../../../assets/img/hero-selection.svg") no-repeat center;
    background-size: 40% 40%;
  }

.create-user-background {
    background: url("../../../assets/img/hero-create-user.svg") no-repeat top left;
    background-size: 40% 40%;
  }
