<!-- Starts register section -->
<section class="hero is-warning is-large" >
    <div class="hero-body svg-background" >
        <div class="container " *ngIf="emptyData else RegisterData">
            <div class="columns has-text-centered">
                <div class="column ">
                    <div class="container">
                    <h1 class="title">
                        Please, complete the form.
                        </h1>
                    
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
        
                    <div class="columns" >
                    <div class="column is-3" >
                        
                        <div class="container">
                        <div class="field">
                            <label class="label">Classroom data</label>
                            <input
                            required
                            class="input"
                            type="text"
                            placeholder="Type a classroom name"
                            name="classroomname" [(ngModel)]="newClassroom.Name"
                            />
                        </div>
                        
                    </div>
                    </div>
                    <div class="column is-6">
        
                    </div>
                    <div class="column" >
                        <div class="container">
                        <div class="field">
                            <label class="label">Role</label>
                            <div class="control">
                                <div class="select is-fullwidth" >
                                <select name="role" [(ngModel)]="newUser.Role">
                                    <option *ngFor="let role of userRoles" [value]="role">{{role}}</option>
                                </select>
                                </div>
                            </div>
            
                        </div>
                        <div class="field">
                            <label class="label">Name</label>
                            <input
                            required
                            class="input"
                            type="text"
                            placeholder="Type a user name"
                            name="username" [(ngModel)]="newUser.Name"
                            />
                        </div>
            
                        
                        </div>
                    </div>       
                    
                    </div>
                    <div class="container">
                    <br>
                    
                    <a (click)="mostrar()" class="button is-info is-medium">
                        Continue
                    </a>
                    
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Start assign classroom to user -->
        <ng-template #RegisterData>
            <div class="columns has-text-centered">
                <div class="column ">
                    <div class="container">
                    <h1 class="title">
                        Please, select an user and a classroom
                        </h1>
                    
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
        
                    <div class="columns" >
                        <div class="column is-3" >                            
                            <div class="container">
                                <div class="field">
                                    <label class="label">Classroom</label>
                                    <div class="control">
                                        <div class="select is-fullwidth" >
                                            <select name="cr" [(ngModel)]="classRoomSelected">
                                                <option *ngFor="let class of classroomsGet" [ngValue]="class" (click)="selec(class)">{{class.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label class="label">Schedule</label>
                                <div class="field">
                                    <label class="label">Start</label>
                                    <input type="date" 
                                    data-date-format="DD/MM/YYYY"
                                    data-display-mode="dialog" 
                                    data-is-range="true"
                                    data-close-on-select="false"
                                    class="input "
                                    name="from"
                                    [(ngModel)]="scheduleSelected.From"
                                    >
                                </div>
                                <div class="field">
                                    <label class="label">End</label>
                                    <input type="date" 
                                    data-date-format="DD/MM/YYYY"
                                    data-display-mode="dialog" 
                                    data-is-range="true"
                                    data-close-on-select="false"
                                    class="input"
                                    name="to"
                                    [(ngModel)]="scheduleSelected.To"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="column is-6"></div>
                        <div class="column" >
                            <div class="container">
                                <div class="field">
                                    <label class="label">User</label>
                                    <div class="control">
                                        <div class="select is-fullwidth" >
                                            <select name="user" [(ngModel)]="userSelected">
                                                <option *ngFor="let user of usersGet" [ngValue]="user">{{user.Name}} - {{user.Role}}</option>
                                            </select>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                        </div>       
                    
                    </div>
                    <div class="container">
                        <br>                        
                        <a (click)="assign()" class="button is-info is-medium">
                            Assign
                        </a>                    
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- End assign classroom to user -->
    </div>
    
</section>
  <!-- End register section -->
  
  <!-- Starts Assign timetable section -->
<section class="hero is-success is-large" id="assigntimetable" *ngIf="emptyData" >
    <div class="hero-body create-classroom-background ">
        <div class="container ">
            <div class="columns has-text-centered">
                <div class="column">
                    <div class="container">
                    <h1 class="title">
                        Please, schedule the classroom {{newClassroom.Name}}
                        </h1>
                    
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="columns" >
                    <div class="column is-3"></div>
                    <div class="column is-2" >
                        <div class="container">
                            <div class="field">
                                <label class="label">Start</label>
                                <input type="date" 
                                data-date-format="DD/MM/YYYY"
                                data-display-mode="dialog" 
                                data-is-range="true"
                                data-close-on-select="false"
                                class="input"
                                name="from"
                                [(ngModel)]="newSchedule.From"
                                >
                            </div>

                    </div>
                    </div>
                    <div class="column is-2"></div>
                    <div class="column is-2">
                        <div class="container">
                            <div class="field">
                                <label class="label">End</label>
                                <input type="date" 
                                data-date-format="DD/MM/YYYY"
                                data-display-mode="dialog" 
                                data-is-range="true"
                                data-close-on-select="false"
                                class="input is-rounded"
                                name="to"
                                [(ngModel)]="newSchedule.To"
                                >
                            </div>
                        
                        
                        </div>
                    </div>       
                    <div class="column is-3"></div>
                    </div>
                    <div class="container">
                        <br>
                        
                        <a class="button is-info is-medium" (click)="registerNewData()">
                          Registrar
                        </a>
                        
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!-- End Assign timetable section -->


<script type="text/javascript" src="../../../../../../node_modules/bulma-extensions/bulma-calendar/dist/js/bulma-calendar.min.js"></script>