<section class="hero is-success is-large" >
    <div class="hero-body svg-background" >
        <div class="container ">
            <div class="columns has-text-centered">
                <div class="column ">
                    <div class="container">
                        <h1 class="title">
                        Seems that you are missing
                        </h1>
                    
                    </div>
                    <div class="container">
                        <a href="/" class="button is-info is-medium">
                            Go home
                        </a>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>