<!-- Starts register section -->
<section class="hero is-warning is-fullheight" >
    <div class="hero-body" >
        <div class="container " *ngIf="!emptyData else RegisterData">
            <div class="columns has-text-centered">
                <div class="column ">
                    <div class="container">
                        <h1 class="title">
                            Select a user for modify it
                        <br>
                        <br>
                        </h1>
                        
                    </div>
                </div>
            </div>
            <div class="row columns is-multiline is-centered">
                <div class="column is-one-third" *ngFor="let item of usersGet" >
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <p class="title">{{item.Name}}: {{item.Role}}</p>
                            
                        </div>
                        
                        <div class="container ">
                            <div class="columns has-text-centered">
                                <div class="column ">
                                    <button class="button is-success " (click)="editUser(item)">
                                        Update
                                    </button>  
                                </div>        
                                <div class="column ">
                                    <button class="button is-info " (click)="eraseUser(item)">
                                        Delete
                                    </button>  
                                </div>        
                            </div>
                        </div>
                    
                    </div>        
                </div>
            </div>
        </div>
        <!-- Start nodata classroom to user -->
        <ng-template #RegisterData>
            <div class="columns has-text-centered">
                <div class="column ">
                    <div class="container">
                    <h1 class="title">
                        There's no data, please register new classrooms
                        </h1>
                    
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
        
                    <div class="container">
                        <br>                        
                        <a href="/newdata" class="button is-info is-medium">
                            Create
                        </a>                    
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- End nodata classroom to user -->
    </div>
    
</section>
<!-- Start Modal --> 
<div class="modal"  [ngClass]="{'is-active' : showModal}">
<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
    <p class="modal-card-title">User: {{userEdit.Name}}</p>
    <button class="delete" aria-label="close" (click)="cancelUpdate()"></button>
    </header>
    <section class="modal-card-body">
    <div class="card-content">
        
        <div class="field">
            <label class="label">User name</label>
            <input
            
            class="input is-rounded"
            type="text"
            placeholder="User name"
            [(ngModel)]="userEdit.Name"
            name="Name"
            />
        </div>
       
        <br>
        <label class="title is-5">Schedules  </label>
        
        <div class="container">
            <div *ngFor="let schedules of userInsideSchedules | keyvalue">
                 <div *ngFor="let time of schedules.value "> 
                    <p><button 
                        class="delete" 
                        aria-label="close" 
                        (click)="eraseClass(schedules.key )">
                        </button>
                        From: {{time.From}} 
                        To: {{time.To}} 
                        In classroom: {{time.ClassroomName}}
                        
                    </p>
                    
                </div>
                
            </div>
        </div>
        
        
    </div>
    </section>
    <footer class="modal-card-foot">
    <div class="columns">
        <div class="column">
            <button
            class="button is-primary"
            type="button"
            (click)="updateUser()"
            >
            Update
            </button>
        
        </div>
        <div class="column">
            <button class="button is-success " (click)="cancelUpdate()">
            Cancel
            </button>
        
        </div>

    </div>
    
    </footer>
</div>
</div>
<!-- End modal -->

  

<script type="text/javascript" src="../../../../../../node_modules/bulma-extensions/bulma-calendar/dist/js/bulma-calendar.min.js"></script>